body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

@mixin transitionDelay($delayTime) {
  -webkit-transition-delay: $delayTime;
  -o-transition-delay: $delayTime;
  transition-delay: $delayTime;
}

@mixin transitionEaseOutExpo($time) {
  -webkit-transition: all $time cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all $time cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all $time cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all $time cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin translateCenter {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin transition($type, $time) {
  -webkit-transition: $type, $time;
  -o-transition: $type, $time;
  transition: $type, $time;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin triangle($direction: up, $size: 5px, $color: #fff) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;

  @if $direction == up {
      border-right: $size solid transparent;
      border-left: $size solid transparent;
      border-bottom: $size solid $color;
      border-top: none;
  }

  @if $direction == down {
      border-right: $size solid transparent;
      border-left: $size solid transparent;
      border-top: $size solid $color;
      border-bottom: none;
  }

  @if $direction == right {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
      border-right: none;
  }

  @if $direction == left {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
      border-left: none;
  }
}

$mobile: 767px;
$tablet: 991px;

body {
  background-color: #f7f7f7;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  @extend .d-flex;
  @extend .flex-centerY-centerX;
  .page-inner {
    text-align: center;

    #house-wrapper {
      width: 500px;
      height: 250px;
      position: relative;
    }

    svg {
      width: 500px;
      position: absolute;
      left: 0;
      top: 0;
      overflow: visible;

      &.circles {
        width: 117px;
        -webkit-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        opacity: 0;
        
        path {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

        &.explode-effect {
          opacity: 1;
          @include scale(1.3);

          & > .big-circle {
            stroke-width: 0;
          }

          & > .small-circles {
            opacity: 0;
          }
        }
      }

      &.first-left-window-circle {
        top: 110px;
        left: 15px;

        &.move-right {
          left: 75px;
        }
      }

      &.second-right-window-circle {
        top: 110px;
        right: 15px;
        left: auto;

        &.move-left {
          right: 75px;
        }
      }

      &.center-window-circle {
        top: 50px;
        left: 50%;
        margin-left: -58px;
      }
    }

    #slider-range-max {
      width: 330px;
      height: 22px;
      border: 4px solid #224889;
      margin: 20px auto;
      background: #6d9ef3;
      -webkit-box-shadow: inset -3px 6px #79aaff;
      box-shadow: inset -3px 6px #79aaff;
      @include border-radius(10px);

      .ui-state-default {
        width: 44px;
        height: 44px;
        top: -15px;
        background: #224889;
        border: none;
        cursor: pointer;
        @include scale(0.85);
        @include border-radius(50%);

        &:focus {

        outline: none;
        }
      }

      .ui-slider-range-max {
        height: 22px;
        background: #224889;
        border: 5px solid #f7f7f7;
        top: -4px;
        right: -6px;
        @include border-radius(14px);
      }
    }
  }

  .rooms-box {
    padding-left: 25px;
    position: relative;
    display: inline-block;
    font-family: 'Arial';
    font-size: 25px;
    font-weight: bold;
    color: #224889;
  }

  .room {
    display: inline-block;
    position: absolute;
    left: 0;
  }
}